<% provide :title, "People That Have to do Sh*t" %>
<!-- <div class="row">
  <div class="col-md-2 col-md-offset-9">
    <a class="btn btn-lg nav-btn" role="button" href="tasks/new"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> New</a>
  </div>
</div> -->

<%= render 'layouts/person_printout' %>
