<% provide :title, "About This Task" %>

<%= render 'layouts/task_printout' %>

<div class="btn-group" role="group" aria-label="group of editing buttons">
  <%= link_to "Show All Tasks", tasks_path, class: "btn btn-lg nav-btn" %>
</div>
