<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rails To Do List App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" href="font-awesome.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link href="custom.css" rel="stylesheet">
</head>

<body>
    <!-- Page Content -->
    <div class="container">
      <div class="centered-block">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center"><%= yield :title %></h1>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
</body>

</html>
